.header {
  position: absolute;
  top: 40px;
}

.header .header_wrap {
  width: 1920px;
  padding: 0 120px;
}

main {
  width: 1920px;
  margin: 0 auto;
}

main .con01 {
  width: 1920px;
  margin: 0 auto;
}

main .con01 .slide01 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

main .con01 .slide01 .main_rolling a img {
  width: 100%;
}

main .con01 .slide01 .slick-dots {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .con01 .slide01 .slick-dots li button {
  font-size: 0;
  border: none;
  background: none;
  width: 13px;
  height: 13px;
  margin: 0 5px;
  background-color: #a5a5a5;
  border-radius: 100%;
}

main .con01 .slide01 .slick-dots li.slick-active button {
  background-color: #000;
}

main .con01 .slide01 .slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  width: 35px;
  height: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  opacity: 0.4;
}

main .con01 .slide01 .slick-arrow:hover {
  opacity: 1;
}

main .con01 .slide01 .slick-prev {
  left: 30px;
  background: url("https://spao.com/morenvyimg/main_arrow_left.png") no-repeat;
}

main .con01 .slide01 .slick-next {
  right: 30px;
  background: url("https://spao.com/morenvyimg/main_arrow_right.png") no-repeat;
}

main .con02 article {
  height: 920px;
}

main .con02 article .con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con02 article .con_title h2 {
  margin: 70px 0 50px;
  font-size: 40px;
  font-weight: 700;
}

main .con02 article .slide02 {
  margin: 0 auto;
  max-width: 1720px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

main .con02 article .slide02 li {
  margin: 0 10px;
  width: 410px;
}

main .con02 article .slide02 li figure {
  width: 100%;
}

main .con02 article .slide02 li figure img {
  width: 100%;
}

main .con02 article .slide02 li .detail {
  width: 100%;
  padding: 20px 0;
}

main .con02 article .slide02 li .detail .tshirt_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .con02 article .slide02 li .detail .tshirt_title a {
  font-size: 16px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 17px;
  display: inline-block;
}

main .con02 article .slide02 li .detail .tshirt_title button {
  width: 10%;
  height: 19px;
  background: url("../img/index/like.png") no-repeat center center;
  background-size: contain;
  border: none;
  font-size: 0;
}

main .con02 article .slide02 li .detail .tshirt_title button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

main .con02 article .slide02 li .detail .price {
  margin: 20px 0;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .con02 article .slide02 li .detail .price span:nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
  margin-right: 6px;
}

main .con02 article .slide02 li .detail .price span:nth-of-type(2) {
  line-height: 1.5;
  text-decoration: line-through;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 400;
  margin-right: 6px;
}

main .con02 article .slide02 li .detail .price span:nth-of-type(3) {
  line-height: 1.5;
  color: #c41e20;
  font-size: 16px;
}

main .con02 article .slide02 li .detail p {
  font-size: 14px;
  color: #9a9a9a;
}

main .con02 article .slide02 li .detail .stock {
  margin-top: 10px;
  height: 16px;
}

main .con02 article .slide02 .slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  top: 265px;
  width: 35px;
  height: 60px;
  opacity: 0.6;
}

main .con02 article .slide02 .slick-arrow:hover {
  opacity: 1;
}

main .con02 article .slide02 .slick-prev {
  left: -70px;
  background: url("https://spao.com/morenvyimg/main_arrow_left2.png") no-repeat;
  background-size: contain;
}

main .con02 article .slide02 .slick-next {
  right: -70px;
  background: url("https://spao.com/morenvyimg/main_arrow_right2.png") no-repeat;
  background-size: contain;
}

main .con03 {
  margin-top: 50px;
}

main .con03 article {
  height: 1280px;
  background-color: #7fd3e1;
}

main .con03 article .con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con03 article .con_title h2 {
  margin: 70px 0 50px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

main .con03 article .slide03 {
  margin: 0 auto;
  max-width: 1720px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

main .con03 article .slide03 .cool_rolling {
  margin: 0 10px;
  width: 553px;
}

main .con03 article .slide03 .cool_rolling figure {
  width: 100%;
}

main .con03 article .slide03 .cool_rolling figure img {
  width: 100%;
}

main .con03 article .slide03 .cool_rolling .detail {
  width: 100%;
  padding: 20px 0;
}

main .con03 article .slide03 .cool_rolling .detail .tshirt_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .con03 article .slide03 .cool_rolling .detail .tshirt_title a {
  font-size: 16px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 17px;
  display: inline-block;
}

main .con03 article .slide03 .cool_rolling .detail .tshirt_title button {
  width: 10%;
  height: 19px;
  background: url("../img/index/like.png") no-repeat center center;
  background-size: contain;
  border: none;
  font-size: 0;
}

main .con03 article .slide03 .cool_rolling .detail .tshirt_title button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

main .con03 article .slide03 .cool_rolling .detail .price {
  margin: 20px 0;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .con03 article .slide03 .cool_rolling .detail .price span:nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
  margin-right: 6px;
}

main .con03 article .slide03 .cool_rolling .detail .price span:nth-of-type(2) {
  line-height: 1.5;
  text-decoration: line-through;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 400;
  margin-right: 6px;
}

main .con03 article .slide03 .cool_rolling .detail .price span:nth-of-type(3) {
  line-height: 1.5;
  color: #c41e20;
  font-size: 16px;
}

main .con03 article .slide03 .cool_rolling .detail p {
  font-size: 14px;
  color: #5e5e5e;
}

main .con03 article .slide03 .cool_rolling .detail .stock {
  margin-top: 10px;
  height: 16px;
}

main .con03 article .slide03 .cool_rolling .detail .stock img {
  width: 100%;
}

main .con03 article .slide03 .slick-dots {
  position: absolute;
  bottom: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .con03 article .slide03 .slick-dots li button {
  font-size: 0;
  border: none;
  background: none;
  width: 13px;
  height: 13px;
  margin: 0 5px;
  background-color: #a5a5a5;
  border-radius: 100%;
}

main .con03 article .slide03 .slick-dots li.slick-active button {
  background-color: #fff;
}

main .con03 article .slide03 .slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  top: 337px;
  width: 35px;
  height: 60px;
  opacity: 0.7;
}

main .con03 article .slide03 .slick-arrow:hover {
  opacity: 1;
}

main .con03 article .slide03 .slick-prev {
  left: -70px;
  background: url("https://spao.com/morenvyimg/main_arrow_left2.png") no-repeat;
  background-size: contain;
}

main .con03 article .slide03 .slick-next {
  right: -70px;
  background: url("https://spao.com/morenvyimg/main_arrow_right2.png") no-repeat;
  background-size: contain;
}

main .con04 {
  margin: 130px 0 50px 0;
}

main .con04 div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .con04 div p {
  width: 50%;
  height: 200px;
}

main .con04 div p img {
  width: 100%;
}

main .con05 article .con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con05 article .con_title h2 {
  margin: 70px 0 50px;
  font-size: 40px;
  font-weight: 700;
}

main .con05 article .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

main .con05 article .categories li {
  margin: 0 20px;
  line-height: 2;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  position: relative;
}

main .con05 article .categories li.active {
  border-bottom: 3px solid black;
  font-weight: 700;
}

main .con05 article .categories li.active::after {
  content: '';
  top: 3px;
  right: -7px;
  width: 7px;
  height: 7px;
  position: absolute;
  border-radius: 100%;
  background-color: #c41e20;
}

main .con05 article .gallery01 {
  margin: 0 auto;
  max-width: 1720px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1670px;
}

main .con05 article .gallery01 li {
  margin: 0 20px 60px 0;
  width: 410px;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  opacity: 0;
  -webkit-animation: a1 1s forwards;
          animation: a1 1s forwards;
}

@-webkit-keyframes a1 {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes a1 {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

main .con05 article .gallery01 li figure {
  width: 100%;
  position: relative;
}

main .con05 article .gallery01 li figure img {
  width: 100%;
}

main .con05 article .gallery01 li figure figcaption {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  font-weight: bold;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con05 article .gallery01 li .detail {
  width: 100%;
  padding: 20px 0;
}

main .con05 article .gallery01 li .detail .tshirt_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .con05 article .gallery01 li .detail .tshirt_title a {
  font-size: 16px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 17px;
  display: inline-block;
}

main .con05 article .gallery01 li .detail .tshirt_title button {
  width: 10%;
  height: 19px;
  background: url("../img/index/like.png") no-repeat center center;
  background-size: contain;
  border: none;
  font-size: 0;
}

main .con05 article .gallery01 li .detail .tshirt_title button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

main .con05 article .gallery01 li .detail .price {
  margin: 20px 0;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .con05 article .gallery01 li .detail .price span:nth-of-type(1) {
  font-size: 24px;
  font-weight: 700;
  margin-right: 6px;
}

main .con05 article .gallery01 li .detail .price span:nth-of-type(2) {
  line-height: 1.5;
  text-decoration: line-through;
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 400;
  margin-right: 6px;
}

main .con05 article .gallery01 li .detail .price span:nth-of-type(3) {
  line-height: 1.5;
  color: #c41e20;
  font-size: 16px;
}

main .con05 article .gallery01 li .detail p {
  font-size: 14px;
  color: #9a9a9a;
}

main .con05 article .gallery01 li .detail .stock {
  margin-top: 10px;
  height: 16px;
}

main .con06 {
  width: 100%;
  height: 540px;
  padding-bottom: 45px;
}

main .con06 .gallery02 {
  width: 90%;
  height: 430px;
  margin: 0 auto;
}

main .con06 .gallery02 .review, main .con06 .gallery02 .review2 {
  max-width: 1720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 430px;
}

main .con06 .gallery02 .review img, main .con06 .gallery02 .review2 img {
  margin-bottom: 5px;
  width: 210px;
  height: 210px;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

main .con06 .gallery02 .slick-dots {
  position: absolute;
  bottom: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .con06 .gallery02 .slick-dots li button {
  font-size: 18px;
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  margin: 0 5px;
}

main .con06 .gallery02 .slick-dots li.slick-active button {
  border: 1px solid #dedede;
}

main .con06 .gallery02 .slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  bottom: -70px;
  width: 20px;
  height: 30px;
  opacity: 0.7;
  z-index: 1;
}

main .con06 .gallery02 .slick-arrow:hover {
  opacity: 1;
}

main .con06 .gallery02 .slick-prev {
  left: 750px;
  background: url("https://spao.com/morenvyimg/main_arrow_left2.png") no-repeat;
  background-size: contain;
}

main .con06 .gallery02 .slick-next {
  right: 750px;
  background: url("https://spao.com/morenvyimg/main_arrow_right2.png") no-repeat;
  background-size: contain;
}

main .con07 article .con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con07 article .con_title h2 {
  margin: 70px 0 50px;
  font-size: 40px;
  font-weight: 700;
}

main .con07 article .gallery03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .con07 article .gallery03 li {
  width: 920px;
  margin-bottom: 95px;
}

main .con07 article .gallery03 li:nth-of-type(even) {
  margin-top: 95px;
}

main .con07 article .gallery03 li a p {
  height: 500px;
  overflow: hidden;
}

main .con07 article .gallery03 li a p img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .con07 article .gallery03 li a span {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con08 article .con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con08 article .con_title h2 {
  margin: 70px 0 50px;
  font-size: 40px;
  font-weight: 700;
}

main .con08 article .slide04 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

main .con08 article .slide04 ul .slick-track {
  left: -190px;
}

main .con08 article .slide04 ul li {
  width: 756px;
  height: 505px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  overflow: hidden;
}

main .con08 article .slide04 ul li a {
  position: relative;
}

main .con08 article .slide04 ul li a figure {
  width: 100%;
  position: relative;
}

main .con08 article .slide04 ul li a figure img {
  width: 100%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .con08 article .slide04 ul li a figure figcaption {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  z-index: 1;
}

main .con08 article .slide04 ul li a figure::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

main .con08 article .slide04 ul li a p {
  position: absolute;
  width: 756px;
  height: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  top: 0;
  left: 0;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

main .con08 article .slide04 ul .slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 60px;
  opacity: 0.7;
  z-index: 1;
}

main .con08 article .slide04 ul .slick-arrow:hover {
  opacity: 1;
}

main .con08 article .slide04 ul .slick-prev {
  left: 70px;
  background: url("https://spao.com/morenvyimg/main_arrow_left2.png") no-repeat;
  background-size: contain;
}

main .con08 article .slide04 ul .slick-next {
  right: 70px;
  background: url("https://spao.com/morenvyimg/main_arrow_right2.png") no-repeat;
  background-size: contain;
}

main .con09 article {
  margin-top: 40px;
  margin-bottom: 150px;
}

main .con09 article .con_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con09 article .con_title h2 {
  margin: 70px 0 50px;
  font-size: 40px;
  font-weight: 700;
}

main .con09 article .slide05 {
  margin: 0 auto;
  max-width: 1720px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .con09 article .slide05 .snap_slide {
  width: 2324px;
  height: 324px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

main .con09 article .slide05 .snap_slide a .description {
  display: none;
  z-index: 1;
  width: 324px;
  height: 324px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

main .con09 article .slide05 .snap_slide a .description.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .con09 article .slide05 .snap_slide a .description span {
  color: #fff;
  font-size: 18px;
}

main .con09 article .slide05 .snap_slide a .description span:nth-of-type(2) {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

main .con09 article .slide05 .snap_slide a p {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main .con09 article .slide05 .snap_slide a p img {
  width: 100%;
}

main .con09 article .slide05 .slick-arrow {
  font-size: 0;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 35px;
  height: 60px;
  opacity: 0.7;
  z-index: 1;
}

main .con09 article .slide05 .slick-arrow:hover {
  opacity: 1;
}

main .con09 article .slide05 .slick-prev {
  left: -70px;
  background: url("https://spao.com/morenvyimg/main_arrow_left2.png") no-repeat;
  background-size: contain;
}

main .con09 article .slide05 .slick-next {
  right: -70px;
  background: url("https://spao.com/morenvyimg/main_arrow_right2.png") no-repeat;
  background-size: contain;
}
/*# sourceMappingURL=index.css.map */